# MySQL Configuration
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=omcp_db
DB_USERNAME=omcp_user
DB_PASSWORD=omcp_pass
MYSQL_ROOT_PASSWORD=root_pass
MYSQL_DATABASE=omcp_db
MYSQL_USER=omcp_user
MYSQL_PASSWORD=omcp_pass

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Laravel Configuration
APP_NAME=OMCP
APP_ENV=local
APP_KEY=GENERATE_A_KEY
APP_DEBUG=true
APP_URL=http://omcp.localhost

QUEUE_CONNECTION=redis
RUN_QUEUE_WORKER=true

SUPER_ADMIN_EMAIL=admin@admin.com
SUPER_ADMIN_PASSWORD=changePASS

# Website Configuration
NEXT_PUBLIC_API_BASE_URL=http://omcp.localhost/api
NEXT_PUBLIC_IMAGE_BASE_URL=http://omcp.localhost/storage
