/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vite
.history
public/build
storage/app/version.json
storage/app/key.json
/storage/debugbar
composerauth.json
auth.json
public/vendor/runway/build/manifest.json
public/vendor/statamic/cp/build/manifest.json
*.php.backup
storage/google-cloud-key.json
.env.deploy
.env.prod
resources/js/ziggy.js